body {
  font-family: Arial, sans-serif;
  background-color: cadetblue;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #000000
}

.header-title {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

li:hover {
  background-color: chartreuse;
}

.delete-btn {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}


.form-control {
  margin-bottom: 10px;
}

.form-control input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  background-color: brown;
  color: black;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: darkgreen;
}